<!DOCTYPE html>
<html lang = "en">
    
<head>
    <link rel= stylesheet type=text/css href= {{ url_for('static', filename='styles.css') }}>
</head>

<body>
    <div class = "background">
        <div class = "image">
            <img src="{{ food[2] }}" width="392" height="322">
        </div>

            <div class = "ingredients">
                <p class ="header">{{ food[1] }}</p>
                <p class = "text">
                    {%for i in range(2, len)%} 
                      {{source_recipe[i]}}<br>
                    {%endfor%} 
                </p>
            </div>
            
            <div class = "tweet">
                <p class ="header">tweets</p>
                <p class = "text">
                    {%for i in range(0, 3)%}
                        <img src = "{{ tweet[i][0] }}" width="25" height="25">  
                        <b>{{ tweet[i][1] }}</b> | {{ tweet[i][2] }} <br>
                         "{{ tweet[i][3] }}"<br>
                        <i>{{ tweet[i][4] }} </i><br><br>
                    {%endfor%}
                </p>
            </div>

            <div class = "link">
                <p class ="header">source</p>
                <p class = "text">
                    Click below to view full source!<br>
                    <a href="{{ source_recipe[1] }}">{{ source_recipe[0] }}</a>
                </p>
            </div>
    </div>
</body>